@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');


 body{
    background-color: bisque;
    font-family:'Nunito', sans-serif; ;
}


nav {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    
 }
 nav a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
 }
 nav a.selected {
    background-color: rgb(15, 189, 20);
    color: rgb(255, 255, 255);
 }
 nav a:hover:not(.selected) {
    background-color:pink;
    color: black;
 }

#order:hover{
    background-color: greenyellow;
    color: black;
}

.main {
margin-left: 150px;
padding: 1px 16px;
height: 900px;
}

footer{
margin-left: 150px;
padding: px 10px;
height: 900px;

}
.social a{
   text-align: center;
   display:flex;
  align-items:center;
  justify-content:center;
   
}


.title{
    
    color: pink;
    width: 60%;
    text-align: right;
    
}

.shop{
    background-image:url(/img/about.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    width: 100%;
    height: 800px;
    
}

.shop img{
   
    opacity: 85%;
}

.navbar, .navbar-nav{
   
    font-size: 30px;
    color: white;
    
}
.m-tea{
    background-color: rgb(33, 134, 192);
    color: black;
}
.smooth{
    background-color: aquamarine;
    color: black;
}
.top{
    background-color: aqua;
    color: black;
}
li a{
    color: whitesmoke;
    text-align: center;
    
}
ul li{
    font-size: 30px;
    list-style: none;
    
}
h2{
    text-align: center;
    text-decoration: underline;
}

.carousel{
width: 100%;
}

.carousel img{
    height: 550px;
}

.contact h5{
    line-height: 3;
}

