@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');


html body{
    background-color: #353b40;
    font-family:'Nunito', sans-serif; ;
}


.shop{
    background-image:url(/img/about.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    
}

.shop img{
   
    opacity: 85%;
}

.navbar, .navbar-nav{
   
    font-size: 30px;
    color: white;
    
}
li a{
    color: whitesmoke;
    text-align: center;
}
ul li{
    font-size: 30px;
}
h2{
    text-align: center;
    text-decoration: underline;
}


.carousel img{
    height: 550px;
}

.contact h5{
    line-height: 3;
}
/* .contact{
    position: relative;
    top: 30px;
} */
